
<div class="container_12">
	<div class="grid_3 alpha">	
		<a class="copyright" href="http://www.balville.com">
			  <%= t('.copyright', :year => Time.now.year,
			                      :site_name => RefinerySetting.find_or_set(:site_name, "Company Name")) %>
			<br/>
			 All rights reserved.  
		    </a>			
	</div>
	<div class="grid_3">
    <div class="address">
      P.O. Box 3175 Road Town<br>
      Tortola British Virgin Islands
    </div>
  </div>
  <div class="grid_4 right omega">
    <div class="logos">
    <img width="258" height="24" src="../images/logos.png" alt="Yotrail" title="Yotrail">
  </div>
  </div>
  <div class="clear"></div>
</div>
