<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rosario">
<div class="container_12 pages">
<section id='body_content' class="show">
	<h1>
	<%=raw @page[:title] %>
	</h1>
  <%=raw @page[:body] %>
  
</section>
<section id='side_body_content'>
  <%=raw @page[:side_body] %>
</section>
</div>